.fab-add-blog {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: burlywood;
  font-size: 20px;
  font-weight: 800;
  border-radius: 50%;
  height: 60px;
}

.blog-card {
  width: 100%;
  height: 300px;
  box-shadow: 10px 5px 10px wheat;
  border: 1px solid gray;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.blog-list .blog-item {
  width: 50%;
}

.blog-header {
  font-size: 18px;
  font-weight: bolder;
  padding: 10px;
  border: 1px solid gray;
}
.blog-description {
  padding: 10px;
  max-height: 170px;
  overflow-y: auto;
}

.blog-actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.blog-actions button {
  margin: 10px 5px;
}

.action-count::after {
  content: attr(data-count);
  position: relative;
  left: 25px;
  top: -25px;
  background-color: yellow;
  border: 1px solid red;
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
  color: red;
  font-weight: bold;
}

.modal-dialog {
  position: fixed;
  background: rgba(53, 52, 52, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-content {
  width: 30%;
  height: 50%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blog-form input,
textarea {
  width: 100%;
  height: 30px;
}

.blog-form textarea {
  height: 80px;
}

.blog-form form > div {
  margin: 10px 0;
}

.blog-form form > div:last-of-type {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 15px;
}

.blog-form form > div:last-of-type button:first-of-type {
  background: white;
  border: 1px solid red;
}

.blog-form button[type="submit"] {
  background: lightblue;
}

.close_btn {
  position: relative;
  top: -65px;
  left: 205px;
  background-color: lightcoral;
}

.comment-form textarea {
  height: 50px;
}

.comment-form {
  padding: 15px;
  margin: 15px;
  background: lightblue;
}

.comment-form .action-btns {
  text-align: right;
  margin-top: 15px;
}

.comment-form .action-btns button {
  margin: 0 15px;
}
