#root {
  width: 100%;
}

.App,
.app-container {
  max-width: 100% !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

.App > .MuiContainer-root {
  margin: 0 !important;
  padding: 0 !important;
}

header,
footer,
.app-body {
  width: 100%;
  background-color: inherit;
}

header,
footer {
  background: linear-gradient(black, green) !important;
  z-index: 1;
  width: 100%;
  height: 15%;
}
.banner-message {
  color: yellow;
  display: inline-block;
  position: relative;
  animation: shopnow 5s infinite;
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
  padding: 0;
}
@keyframes shopnow {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

.app-body {
  height: calc(100% - 30%);
}

a.active {
  background-color: yellow;
}
